<div class="top">
    <h1>Burgers!</h1>
    <img class="wrap2" src="assets/img/burger.gif" height="200" width="auto" alt="giffy"/>
</div>

<div class="col-md-12">
  <div class="col-md-5">
    <h2>Burgers that are not devoured!</h2>

    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-md-5 col-md-offset-2">
    <h2>Burgers that are devoured!</h2>

    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>

</div>

<div class="input_burger">
  <h2>Add a burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
      <label for="devoured">Devoured?</label><br>
      <input type="radio" name="devoured" value="1" checked> Eaten <br>
      <input type="radio" name="devoured" value="0"> Not Eaten
    </div>

    <button type="submit">Add burger</button>
  </form>
</div>
